body{
    background:url(../img/pexels-nataliya-vaitkevich-6863329.jpg) no-repeat;
    background-size: cover;
}
.tittle{
    text-align: center;
}
.caja_uno{
    width: 50%;
    padding: 80px;
    height: 450px;
    border-radius: 40px;
    background-color: rgba(217, 217, 217, 0.759);
    box-shadow: 0px 0px 20px 0px rgba(110, 110, 110, 0.775);
    margin: 8% auto;
}
.caja_uno label{
    font-weight:unset;
    font-size:x-large;
    color: #0D5C11;
    
}
.form.control{
    font-size: medium;
}
.operar{
    float:left;

}

    
.home{
    position: absolute;
    top: 25px;
    left: 25px;
    width: 50px;
}
form label{
    border-radius: 60px;
}